{% load crispy_forms_tags %}


<form method="post" id="signup-form-id" novalidate>
    <div class="modal-header">
        <h5 class="modal-title">SignUp New User</h5>  
    </div>

    <div class="modal-body">
        {% csrf_token %} 
        {{ form|crispy }} 

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success">SignUp</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>
    </div>

</form>

